<div class="main-container">
  <form *ngIf="!imgUrl" [formGroup]="form" (ngSubmit)="onSubmit();">

    <div class="input-label-container">
      <label for="top-text-field">Top text:</label>
      <input type="text" id="top-text-field" formControlName="topTextField" autofocus>
    </div>
    
    <div class="input-label-container">
      <label for="bottom-text-field">Bottom text:</label>
      <input type="text" id="bottom-text-field" formControlName="bottomTextField">
    </div>
    
    <button [disabled]="form.invalid">Make that meme!</button>
  </form>
  
  
  <a *ngIf="imgUrl" [href]="pageUrl" target="_blank">
    <img [src]="imgUrl" alt="generated meme">
  </a>
</div>



