
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1, h2, h3, h4 {
        text-align: center;
        margin-bottom: 0;
        margin-left: 20px;
        margin-right: 20px;
    }

    h2, h3 {
        margin-top: 0;
    }

    h1 {
        margin-bottom: 10px;
        border-bottom: solid black 1px;
        padding: 10px;
    }

    h3 {
        margin-top: 5px;
    }

    form {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        padding: 15px;
        // background: rgb(194, 187, 187);
        // border: solid 1px gray;
        // border-radius: 10px;
        width: 90vmin;


        .input-label-container {
            margin: 5px;
            width: 100%;

            input {
                width: 95%;
                height: 30px;
                font-size: 17px;
            }
        }

        button {
            margin-top: 10px;
            height: 30px;
            border-radius: 5px;
        }
    }

    label {
        display: block;
    }


    .image-anchor-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            max-width: 90vw;
        }
    }
}