
.main-container {
    display: flex;
    justify-content: center;

    form {
        margin-top: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;


        .input-label-container {
            margin: 5px;
        }

        button {
            margin-top: 5px;
        }
    }

    label {
        display: block;
    }
}